# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Ignore build output
/bin/
/obj/

# Ignore dependencies
/node_modules/
/packages/

# Ignore logs and temporary files
/logs/
/temp/

# Ignore sensitive or personal information
config.ini
secrets.txt
# Ignore Truffle specific files
build/
contracts/
/migrations/
/truffle-config.js
